header{
  background-color: #1E3F66;
  color: #BCD2E8;
  text-align: center;
}
main{
  background-color: #D3D3D3;
  padding: 1em;
}
body{
  background-image: url("record.png");
  background-repeat: repeat;
  margin: 0;
}
